.section-header-wrapper {
    width: 100%;
    border-radius: 5px;
    background: darkred;
}


.section-header-text {
    text-align: center;
    color: white;
    line-height: 5px;
}

.d1 {
    grid-row: 1/2;
}

.component-label {
    margin-left: 10px;
    font-size: 85%;
}

.d2 {
    margin-left: 10px;
    grid-row: 2/3;
}

.d3 {

    grid-row: 1/3;
    grid-column: 2/3;
}

#prc-header {
    margin: auto;
    color: #424242;

}

img {
    width: 300px;
    grid-column: 2/3;
}

.container-2 {
    margin: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;

}

.case-header {
    display: flex;
    flex-direction: column;
}

#case-header-right {
    margin-left: 20px;
}

.small-text {
    font-size: 85%;
    line-height: 1px;
    color: darkred;
}

.med-text {
    font-size: 90%;
    line-height: 1px;
}


.container {
    margin: auto;
    max-width: 700px;
    background: #efefef;
    border-radius: 5px;
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    grid-template-columns: 75px auto 2fr;
    grid-column-gap: 20px;
    grid-template-rows: 25px 25px;
}

.container-1 {
    margin: auto;
    max-width: 100%;
    display: grid;
    border-radius: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 20px;
    padding-bottom: 10px;
    align-items: center;
}

textarea {
    border-radius: 5px;
}

select {
    border-radius: 5px;
}

main {
    font-family: 'Roboto', sans-serif;
}

.big-box {
    display: flex;
    flex-direction: column;
}